
/*------------------------------BODY------------------------------------*/

$body-bg                         :#e9eaec;
$h1-color                        :#000000;
$h2-color                        :#000000;
$h3-color                        :#000000;
$h4-color                        :#000000;
$h5-color                        :#000000;
$h6-color                        :#000000;
$p-color                         :#000000;
$card-bg                         :#ffffff;


/*-----------------------------BREADCUMB--------------------------------*/

$breadcrumb-bg                   :transparent;
$breadcrumb-color                :gray;
$breadcrumb-hover-color          :gray;
$breadcrumb-item-color           :blue;
$breadcrumb-item-hover-color     :blue;
$breadcrumb-active-color         :#6c757d;
$breadcrumb-active-hover-color   :#6c757d;

/*------------------------------SIDEBAR---------------------------------*/

$sidebar-bg                      :#47657C;
$sidebar-menu-color              :#72818f;
$sidebar-menu-hover-color        :#72818f;
$sidebar-submenu-color           :#ffffff;
$sidebar-submenu-hover-color     :#ffffff;
$sidebar-dropdown-bg             :transparent;
$border-color                    :#22234c;
$footer-top-border-color         :#3a3a3a;
$shadow-color                    :#131212;
$scrollbar-color                 :black;
$scrollbar-hover-color           :black;
$scrollbar-menu-color            :black;
$scrollbar-effect-bg             :transparent;
$img-bg-sidebar-wrapper          :transparent;
$img-bg-footer                   :transparent;
$img-shadow-color                :rgba(0, 0, 0, 0.5);


/*-----------------------------HEADER-----------------------------------*/

$header-bg                       :#ffffff;;
$header-menu-color               :#72818f;
$header-color                    :#000000;
$burger-color                    :#22234c;
$burger-hover-color              :#c5382f;
