.page-content {
    height: 100%;
}

.btn_gris {
    background-color: #707171;
    color: white;
    margin-left: 16px;
    margin-right: 16px;
}

.btn_azul {
    background-color: #47657C;
    color: white;
}

td.none {
    display: none;
    width: 0%;
 }